<!DOCTYPE html>
<html th:replace="~{fragmentos/plantilla::pagina(~{this::title}, ~{this::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Editar/crear Jugador</title>
</head>

<body>
<h1 class="center-text" th:text="${esNuevo} ? 'Crear Jugador' : 'Editar Jugador'"></h1>

<form th:object="${jugador}" class="form-horizontal" id="jugador-form" method="post">
  <div class="form-group has-feedback">

    <div class="form-group row">
      <label class="col-2 control-label">Id</label>
      <label class="col-10 form-control" th:text="${esNuevo} ? '-' : *{id}"></label>
      <label class="col-2 control-label">Cuenta</label>
      <input class="col-10 form-control" th:field="*{cuenta}" size="30" maxlength="100" />
      <label class="col-2 control-label">Nombre</label>
      <input class="col-10 form-control" th:field="*{nombre}" size="30" maxlength="100" />
    </div>

    <div class="form-group">
      <button class="btn btn-lg btn-block btn-primary col-2" th:text="${esNuevo} ? 'Crear' : 'Guardar'" type="submit">Guardar</button>

      <a class="btn btn-lg btn-block btn-secondary col-2" th:href="@{/jugadores/}">Cancelar</a>
    </div>

    <div th:unless="${esNuevo}">

      <h2>Partidas del jugador</h2>
      <div th:unless="${#lists.isEmpty(partidasJugador)}">
        <table class="table table-striped">
          <tr>
            <th>Partida</th>
            <th>Fecha</th>
            <th />
          </tr>
          <tr th:each="aa: ${partidasJugador}">
            <td th:text="${aa.partida.mapa}">mapa</td>
            <td th:text="${aa.partida.modo}">modo</td>
            <td th:text="${aa.fecha}" class="date">1</td>
            <td>
              <button class="btn btn-sm btn-block btn-primary" type="submit" name="eliminarPartida" th:value="${aa.partida.id}">Eliminar Partida</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="row">

        <div class="col-5 control-group row">
          <label class="col-2 control-label">Partida</label>
          <select class="col-10 form-control" th:name="idPartida">
            <option th:each="a : ${partidas}" th:value="${a.id}" th:text="${a.nombre}">Nombre partida</option>
          </select>
        </div>
        <div class="col-5 control-group row">

          <label class="col-2 control-label">Fecha</label>
          <input class="col-3 form-control" th:name="fecha" size="10" maxlength="8" />

        </div>

        <button class="col-2 btn btn-sm btn-block btn-primary" type="submit" name="anadirPartida">Añadir Partida</button>
      </div>
    </div>
  </div>

</form>



</body>
</html>