<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

	<th:block th:fragment="cabecera">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" th:href="@{/}">Pubg</a>
			<div class="collapse navbar-collapse" id="navbars">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/jugadores}">Jugadores</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/partidas}">Partidas</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/armas}">Armas</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/ubicaciones}">Ubicaciones</a></li>
				</ul>
			</div>
		</nav>
	</th:block>
</body>

</html>


