<!DOCTYPE html>
<html th:replace="~{fragmentos/plantilla::pagina(~{this::title}, ~{this::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Listado de parametros</title>
</head>

<body>
<h1 class="center-text">Listado de parametros</h1>
<table id="parametros" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Zona Azul</th>
        <th>Zona Roja</th>
        <th>Tamaño Cúpula</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="parametro : ${parametros}">
        <td th:text="${parametro.id}"/>
        <td><a th:href="@{/ubicaciones/parametros/__${parametro.id}__}" th:text="${parametro.esZonaAzul}"></a></td>
        <td th:text="${parametro.esZonaRoja}"/>
        <td th:text="${parametro.tamCupula}"/>
        <td><a class="btn btn-primary" th:href="@{/ubicaciones/parametros/__${ubicacionId}__/__${parametro.id}__}">Editar</a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a class="col-3 btn btn-lg btn-primary" th:href="@{/ubicaciones/parametros/nuevo/__${ubicacionId}__}">Nuevo
    parámetro</a>
<a class="col-3 btn btn-secondary btn-lg" th:href="@{/ubicaciones}">Cancelar</a>
</body>
</html>