<!DOCTYPE html>
<html th:replace="~{fragmentos/plantilla::pagina(~{this::title}, ~{this::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Editar/crear Partida</title>
</head>

<body>
<h1 class="center-text" th:text="${esNuevo} ? 'Crear Partida' : 'Editar Partida'"></h1>

<form th:object="${partida}" class="form-horizontal" id="partida-form" method="post">
  <div class="form-group has-feedback">

    <div class="form-group row">
      <label class="col-2 control-label">Id</label>
      <label class="col-10 form-control" th:text="${esNuevo} ? '-' : *{id}"></label>
      <label class="col-2 control-label">Area</label>
      <input class="col-10 form-control" th:field="*{area}" size="30" maxlength="100" />
      <label class="col-2 control-label">Camara</label>
      <input class="col-10 form-control" th:field="*{camara}" size="30" maxlength="100" />
      <label class="col-2 control-label">Duracion</label>
      <input class="col-10 form-control" th:field="*{duracion}" size="30" maxlength="100" />
      <label class="col-2 control-label">Mapa</label>
      <input class="col-10 form-control" th:field="*{mapa}" size="30" maxlength="100" />
      <label class="col-2 control-label">Modo</label>
      <input class="col-10 form-control" th:field="*{modo}" size="30" maxlength="100" />
      <label class="col-2 control-label">Tamanho Equipo</label>
      <input class="col-10 form-control" th:field="*{tamEq}" size="30" maxlength="100" />
      <label class="col-2 control-label">Es Evento</label>
      <input class="col-10 form-control" th:field="*{EsEvento}" size="30" maxlength="100" />
      <label class="col-2 control-label">Es Juegocustom</label>
      <input class="col-10 form-control" th:field="*{EsJuegocustom}" size="30" maxlength="100" />
    </div>

    <div class="form-group">
      <button class="btn btn-lg btn-block btn-primary col-2" th:text="${esNuevo} ? 'Crear' : 'Guardar'" type="submit">Guardar</button>

      <a class="btn btn-lg btn-block btn-secondary col-2" th:href="@{/partidas/}">Cancelar</a>
    </div>

    <div th:unless="${esNuevo}">

      <h2>Jugadores de la partida</h2>
      <div th:unless="${#lists.isEmpty(jugadoresPartida)}">
        <table class="table table-striped">
          <tr>
            <th>Nombre</th>
            <th>Cuenta</th>
            <th>Fecha</th>
            <th />
          </tr>
          <tr th:each="aa: ${jugadorPartidas}">
            <td th:text="${aa.jugador.nombre}">Nombre</td>
            <td th:text="${aa.jugador.cuenta}">Cuenta</td>
            <td th:text="${aa.fecha}" class="date">1</td>
            <td>
              <button class="btn btn-sm btn-block btn-primary" type="submit" name="eliminarJugador" th:value="${aa.jugador.id}">Eliminar Jugador</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="row">

        <div class="col-5 control-group row">
          <label class="col-2 control-label">Partida</label>
          <select class="col-10 form-control" th:name="idJugador">
            <option th:each="a : ${jugadores}" th:value="${a.id}" th:text="${a.nombre}">Nombre Jugador</option>
          </select>
        </div>
        <div class="col-5 control-group row">

          <label class="col-2 control-label">Fecha</label>
          <input class="col-3 form-control" th:name="fecha" size="10" maxlength="8" />

        </div>

        <button class="col-2 btn btn-sm btn-block btn-primary" type="submit" name="anadirJugador">Añadir Jugador</button>
      </div>
    </div>
  </div>

</form>



</body>
</html>